@font-face {
    font-family: 'Madelyn';
    src:  url('Madelyn.otf') format('opentype');
    margin: 0;
  }

body {    
    background-color: #E52C2A;
    margin: 0;
    padding: 0;
}
.content {
    background-color: #FFD8CE;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1200px;
    height: 870px;
    margin: 20px auto; 

    
}
.title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Madelyn';
    font-size: 100px;
    line-height: 100px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.cake {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cake-img {
    display: block;
}
.cake-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.cake-item:hover {
    color: #E52C2A;
}
.cake-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Madelyn';
    font-size: 100px;
    line-height: 100px;

}
.cake .hide {
    display: none;
}
label {
    font-family: 'Madelyn';
    font-size: 55px;
    line-height: 55px;
}
.weight-wrap-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 920px;  
    align-items: center;  
    margin-top: 50px;
}
input {
    width: 168px;
    height: 66px;
    background: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-family: 'Madelyn';
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    
}
.weight-name {
    font-family: 'Madelyn';
    font-size: 70px;
    line-height: 70px;
}
.next-btn {
    width: 168px;
    height: 66px;
    background: #E52C2A;
    border-radius: 20px;
    border: none;
    font-family: Madelyn;
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 65px;
    cursor: pointer;
}
.weight-wrap .hide {
    display: none;
}
.weightAlert .hide {
    display: none;
}
.alert-text {
    width: 400px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    color:#E52C2A;
    font-family: Madelyn;
    text-align: center;
    font-size: 32px;
    line-height: 25px;
    left: -400px;
    position: absolute;
    z-index: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.x-btn {
    cursor: pointer;    
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 35px;
    margin-top: 0px;
}
.checkbox-right-fat {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border-color:  solid #E52C2A 1px;
}
.checkbox-right-thin {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border-color:  solid #E52C2A 1px;
}
.layers-color-fat {
    width: 374px;
    height: 64px;     
    background: #FBE67D;
}
.layers-color-thin {
    width: 373px;
    height: 23px;
    background: #FF334A;
}

.cake-filling-inner {
    display: flex;
    justify-content: space-between;
}
.fruit-inner-wrap-img .wide {
    padding-left: 20px;
    padding-right: 20px;
}
.fruit-inner-wrap-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 15px;
}
.fruit-inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 15px;
}
.checkbox {    
    width: 30px;
    height: 30px;
    border-radius: 10px;    
    margin: 35px 0px;
}
.layers {
    margin-top: 80px;
    position: relative;
    z-index: 100;
}

.checkbox-right-label {
    font-size: 32px;
    line-height: 15px;
    margin-left: 14px;
}
.filling {
    margin-top: 70px;
}
.filling-fat-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.checkbox-wrap-fat {   
    display: flex;
    align-items: center;
    width: 350px;
    margin-top: 27px;
}
.checkbox-wrap-thin {   
    display: flex;
    align-items: center;
    width: 350px;
    margin-top: 27px;
}
.filling-color {
    width: 41px;
    height: 30px;
    margin-left: 25px;
}
#filling-color1 {
    background: #D08657;
}
#filling-color2 {
    background: #FBE67D;
}
#filling-color3 {
    background: #FF334A;
}
#filling-color4 {
    background: #89333E;
}
.next{
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
}
.next-descr {
    font-size: 60px;
    font-family: Madelyn;
}
.cake-filling-wrapper .hide {
    display: none;
}
.fruit {
    display: flex;

}
input {
    border-color:  solid #E52C2A 1px;
}
.layers .sweet {
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 0px 75px;
    z-index: -10;
    
}
.layers .marshmallows {
    position: absolute;
    top: -90px;
    z-index: -30;
    width: 365px;
    display: flex;
    justify-content: space-between;
    left: 10px;
}
.layers .strawberry {
    position: absolute;
    top: -65px;
    z-index: -40;
    width: 373px;
    display: flex;
    justify-content: space-between;
}
.layers .raspberries {
    position: absolute;
    top: -65px;
    z-index: -5;
    width: 374px;
    display: flex;
    justify-content: space-between;
    
    
}
.layers .raspberries img {
    padding: 0px 53px;
}
.layers .hide {
    display: none;
}
.cake-order {
    width: 655px;
    font-size: 60px;
    font-family: Madelyn;    
    line-height: 60px;
    margin-left: 30px;
    position: relative;
    z-index: 100;
    margin-top: 60px;
}
.order-name {
    font-size: 60px;
    font-family: Madelyn;    
    line-height: 60px;
    width: 400px;
    height: 66px;
    margin-left: 39px;
}
.order-tel {
    font-size: 60px;
    font-family: Madelyn;    
    line-height: 60px;
    width: 400px;
    height: 66px;
}
.name-wrap {
    margin-top: 30px;
}
.tel-wrap {
    margin-top: 30px;
}
.submit-cake-wrap {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}